{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Mon compte
{% endblock %}

{% block body %}
<div class="container-fluid">
<div class="row">
    <div class="col-2 bg-dark text-white">
        {% include 'partials/_sidebar.html.twig' %}
    </div>
<div class="col-10 bg-custom-account">
    {% block content %}
    {% endblock %}
</div>

</div>
{% endblock %}
