<div class="container-fluid bg-custom">

	<footer class="py-3">
		<ul class="nav justify-content-center border-bottom pb-3 mb-3">
			<li class="nav-item">
				<a href="#" class="nav-link px-2 text-white">Accueil</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link px-2 text-white">Job</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link px-2 text-white">Privacy</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link px-2 text-white">FAQs</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link px-2 text-white">About</a>
			</li>
		</ul>
<p class="text-center text-white fw-bold ">&copy; projet Symfony made with
	<i class="bi bi-heart-fill text-danger"></i>
	by
	<a href="" class="text-white text-decoration-none">Romy</a>
</p>

	</footer>
</div>
