body {
    /*  background-color: #e7eaf9; */
    font-family: 'Roboto', 'Fira Sans';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto';
}

p,
a,
span {
    font-family: 'Fira Sans';
}

.message {
    font-family: 'Fira Sans';
    font-size: 2.4rem;
    font-weight: 500;
    color: #e5e9f8;
}

.setting-img {
    height: 500px;
    object-fit: cover;
    object-position: center center;
}

.account-icone {
    color: #e7eaf9;
    font-size: 1.5rem;
    padding: 0 0.5rem;
}

.home-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.bg-custom {
    background-color: #040519;
}

.bg-custom-account {
    background-color: #e7eaf9;
}


/* CK Editor */
.ck-editor__editable_inline {
    min-height: 250px;
}

/* Jumbotron page offres */
.jumbotron {
    position: relative;
    height: 300px;
    overflow: hidden;
    background: #7474BF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #348AC7, #7474BF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #348AC7, #7474BF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



.jumbotron .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
